[diff]
    tool = vscode
[difftool]
    prompt = false
[difftool "vscode"]
    cmd = code --wait --diff "$LOCAL" "$REMOTE"
    trustExitCode = false
[difftool "winmerge"]
    cmd = '/mnt/c/Users/watamario15/AppData/Local/Programs/WinMerge/WinMergeU.exe' -e -r -u -x -wl -wr -dl "Your $MERGED" -dr "Incoming $MERGED" "$LOCAL" "$REMOTE"
    trustExitCode = false
[merge]
    tool = vscode
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "vscode"]
    cmd = code --wait --merge "$REMOTE" "$LOCAL" "$BASE" "$MERGED"
    trustExitCode = false
[mergetool "winmerge"]
    cmd = '/mnt/c/Users/watamario15/AppData/Local/Programs/WinMerge/WinMergeU.exe' "$MERGED"
    trustExitCode = false
[mergetool "unity"]
    cmd = '/mnt/c/Program Files/Unity/Hub/Editor/2019.4.39f1/Editor/Data/Tools/UnityYAMLMerge.exe' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
    trustExitCode = false
