<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>XTBDictionaryIdentifier</key>
  <string>io.github.watamario15.JapaneseUncyclopediaImages</string>
  <key>XTBDictionaryScheme</key>
  <string>jaunwikiimg</string>
  <key>XTBDictionaryTypeIdentifier</key>
  <string>com.nexhawks.XTBook.ImageComplex</string>
  <key>XTBImageComplexImagesFile</key>
  <string>Images</string>
  <key>XTBDictionaryDisplayName</key>
  <string>Japanese Uncyclopedia Images</string>
</dict>
</plist>
